* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.main-container {
  background-color: gray;
}

.header {
  position: relative;
  padding: 15px 30px;
  background-color: black;
}

.logo {
  width: 150px;
}

.logo > img {
  width: 100%;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search input {
  height: 50%;
  padding-right: 35px;
  outline: 0;
}

.search-form > button {
  position: absolute;
  cursor: pointer;
  width: 40px;
  background-color: transparent;
  border: 0;
  right: 0;
}

.search-form > button > img {
  width: 100%;
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 50px;
  /* justify-content: space-around; */
}

.movie-container {
  border: 2px solid black;
  width: 185px;
  height: 475px;
  overflow: scroll;
  border-radius: 20px;
  background-color: rgb(180, 180, 180);
}

.movie-container::-webkit-scrollbar {
  display: none;
}

.movie-list-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movie-info {
  padding: 0 7px;
}

.movie-info > * {
  margin: 5px 0;
}

.movie-title {
  font-size: 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
